@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 1366px;
	margin: 20px auto;
	border: solid 1px #ccc;
}
header {
	height: 100px;
	padding: 0 15px;
	margin-bottom: 5px;
	border: solid 1px #ccc;
}
#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
	background: #f8f8f8;
	margin-bottom: 5px;
	border: solid 1px #ccc;
}

#middle {
	width: 697px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
	margin-bottom: 5px;
	border: solid 1px #ccc;
}

#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
	background: #f0efef;
	margin-bottom: 5px;
	border: solid 1px #ccc;
}
footer {
	clear: both;
	padding: 0 15px;
	border: solid 1px #ccc;
}


.myButton {
    background-color: #9D9897; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 100%;
}

input[type=submit] {
    background-color: #9D9897; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 100%;
}
